SGID_CLIENT_ID=YOURCLIENTID
SGID_CLIENT_SECRET=YOURCLIENTSECRET
SGID_CLIENT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----MIICWwIBAAKBgGLwZFh2TqKA/fAcvn5A7Q+/ua+3mjHUyuDnIgo+QlxdRvasGNfRvIWUVDAZOPZSiIhH6fjR18HrdlvMJRfQiCw1xRbspK2Hsdw89Ulz2OjhbvFNzOCdt4wyyMtE3cB0PZ06fdeNsHTr0xAuvxEChVHW5fnf0XlmweMOhUfWVBSFAgMBAAECgYBVswJIOdntGqxbEprSg2yUCq9NjEyMw1QkMTCkDL+wf79bJUCzmGGilxPBQee8PUs0OI5qz2EDAPDZnN+4XBHGnaCUyn5vofcxLVxcaRYBDlMLNfaJTQ4BySgvuUvagzoWQtdIbFyq6ZWO5JQUQdewFca+nfgHzcBTQGb5GwMzIQJBAKakxBoawgVzgcsTAvnHlEqjpk1wRFjlL2XL/E/LM2hlyXq02myd8fNZZUxSDaNgSFOai/qXHBX/JznuruxawZ0CQQCX/cqJG11xjdlW+hCWv020sC7X0i9l/lB77lU8Hp17zmd9k4jZYb2ZfsG7/FAc6Vj8C89IakM92LkKSKePuH4JAkBq+R4Be+fMxAcvqzafzSQ+fasFzumw/v5cJIQFXPXVMHIT2QDV9NYaVuqWAZ5LoEUNlgoBhPs8i5xMrhGQG/ppAkAuLB4L+rEvXt0oi/zgHqt3eZIxZBucC17d1zAzfEVxJ+nOfzQyfXvAln46IlMgBU9P+jJ1GDrnHeBQnHOyuGQpAkEAmfW59KTkgfWY8ReEl0Mb/ZeIYID4S+wpfkHWUjzuwu55SUTVOxBxK9q7vKWAs4jMfmtK5r47Q0S/VVcYHYkb2Q==-----END RSA PRIVATE KEY-----
BOT_TOKEN=yourbottoken
# Set this to be the url given by ngrok
BOT_DOMAIN=https://xxxx-xxx-xxx-xx-x.ngrok-free.app
BOT_PATH=/webhook
